<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Merriweather+Sans:wght@300;400&family=Roboto+Mono&family=Rubik:wght@400;500&display=swap');

</style>

</head>
<body>
   <div class="grid-container">
  <section class="left-content">
    <div class="container">
      <h1><strong class="cam">Cameron Vanriel</strong><h1>Web</h1></h1>
      <h2 class="text" id="loopingText">Developer</h2>
      <a href="/images/Resume.pdf" download>
        <button class="btn btn-primary">Download Resume</button>
      </a>
      <div class="techStack">
        <br>
        <img src="/images/adobeLogo.png" height="150" class="techLogos">
        <img src="/images/reactLogo.png" height="150" class="techLogos">
        <img src="/images/html5Logo.png" height="150" class="techLogos">
        <img src="/images/jsLogo.png" height="150" class="techLogos">
        <img src="/images/cssLogo.png" height="150" class="techLogos">
        <img src="/images/phpLogo.png" height="150" class="techLogos">
        <img src="/images/sql.png" height="150" class="techLogos">
        <img src="/images/wordpress.png" height="150" class="techLogos">
        <img src="/images/asp.net.png" height="150" class="techLogos">
      </div>
    </div>
  </section>
  <section class="right-content">
    <div class="container">
      <img class="landingSelfie" src="/images/IMG_1279.JPG">
    </div>
  </section>
</div>


      </section>
<section class="projects">
  <h1 class="pjh1">Projects</h1>
<div class="smartBeach1">
    <img src="/images/sbLogo.png">
  {{!-- <img src="/images/sblandingPage.png" class="sblandingPage"> --}}
  
  </div>

</div>
<div class="smartBeach2">
  <div class="smartContent">
  <h2 class="smartText">Smart Beach was a group project
where I was the Lead Front-end Developer </h2>
<a class="site" href="https://smartbeach.onrender.com/"> Live Demo</a>
<a class="repository" href="https://github.com/Dimitrius504/smartbeachrepo"> See Repository</a>
<div class="tech">
  <img src="/images/mongodb.png" width="80px">
  <img src="/images/express-js.png" width="80px">
  <img src="/images/reactLogo.png" width="80px">
  <img src="/images/node-js.png" width="80px">
  <img src="/images/cssLogo.png" width="80px">
</div>
</div>

<img src="/images/sbmobileView.png" class="mobileView">
</div>

<div class="smartBeach1">
    <img src="/images/fetchlyLogo.png">
  
  </div>

</div>
<div class="fetchly">
  <div class="fetchlyContent">
    <img src="/images/huskyPhoto.png" class="huskySection">
    <div class="textAndButtons">
      <h2 class="fetchText">Fetchly is a custom store for pet accessories</h2>
      <div class="buttons">
        <a class="site" href="https://www.fetchly.ca">Live Demo</a>
        <a class="repository" href="https://github.com/WavyAirlines/fetchly">See Repository</a>
      </div>
    </div>
  </div>
</div>


</section>
</body>
</html>