<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="normalize" href="/public/stylesheets/normalize.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Merriweather+Sans:wght@300;400&family=Roboto+Mono&family=Rubik:wght@400;500&display=swap');

        .text {
            font-family:"rubik";
            color: #fff;
            padding-left: 15px;
        }
        html {
            background-color: #303030;
        }
        legend{
            text-align: center;
        }
        fieldset{
            border: 2px solid #813CD9;
            line-height: 2.2em;
                        background-color: #303030;
        }
    </style>
</head>
<body>
    <img src="/images/portfolio-concept.png" alt="skills">


    {{!-- <fieldset> 
        <legend class="text">Skills</legend>
        <h1 class="text">HTML</h1>
        <h1 class="text">CSS</h1>
        <h1 class="text">JS</h1>
        <h1 class="text">ADOBE SUITE</h1>
        <h1 class="text">ASP.NET</h1>
        <h1 class="text">PHP</h1>

    </fieldset> --}}
</body>
</html>